@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --base-font: 'Inter', sans-serif;
  --primary-color: #1976d2;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

h1, h2, h3, p {
  font-family: var(--base-font);
}

.regular-text {
  font-size: 14px;
}
